#greet {
    border-radius: 20px;
    margin-left: 25px;
    margin-right: 25px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 20px;
}
#pic {
    border-radius: 200px;
}
body {
    background: linear-gradient(#ffefe6, #ffde96);
    background-repeat: no-repeat;
}
#greet {
    background-color: #bd68ff;
}
.tab-content {
    background-color: #5dd8b3;
}
